
html, body {
    color: white;
    background-color: #21232A;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

button {
    background-color: red;
    font-size: 1.3 rem;
    padding: 10px;
    border-radius: 10px;
}